* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

header {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f1be94;
    color: #000000;
    font-weight: bold;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}
header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    
    text-align: right;

}
  
header nav ul li a:hover{
    color: #0072bb;
  
}
main {
    display: flex;
    flex-wrap: wrap;
}

p {
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    

    
}


footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }


  .hero {
    height: 400px;
    width: 100%;
    object-fit: cover;
    background-image: url("../images/abstract-banner.jpg");
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.recent-photo {
    position: absolute;
    top: 150px;
    left: 30px;
    border: 3px;
    height:241px;
    width: 169px;
}

.content {
    flex: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6bc1ff;
    color: #000000;
    border-right: 10px solid #13293d;
    
}

.card {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 400px;
}

.card:hover {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
    
}

.card header {
    text-align: left;

}

.card img {
    display: block;
    width: 100%;
    padding: 10px;
    ;
}


.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    
.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    
.resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    



@media screen and (max-width: 768px) {

    main,
    header,
    nav a {
        flex-direction: column;
    }
}