* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

header {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f1be94;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}
header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

}
  
header nav ul li a:hover{
    color: #0072bb;
    transition: .4s;
}
main {
    display: flex;
}

p {

    
}


footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }


  .hero {
    height: 400px;
    width: 200%;
    object-fit: cover;
    background-image: url("../images/abstract-banner.jpg");
    background-size: cover;
    background-position: center;
}

.recent-photo {
    position: absolute;
    top: 150px;
    left: 30px;
    border: 3px;
    height:241px;
    width: 169px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6bc1ff;
    color: #ffffff;
    border-right: 10px solid #13293d;
}

.card {
    background-color: #ffffff;
    padding: 10px;
    width: 500px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
}


.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    
.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    
.resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}    

.image-1 {
    background-image: url("../images/mysterious-glowing-galaxy.jpg");
    height: 200px;
    background-size: cover; 
     
    

}

.image-2 {
    background-image: url("../images/abstract-wavy-background.jpg");
    height: 200px;
    

}

.image-3 {
    background-image: url("../images/colorful-light-painting-with-black-background.jpg");
    height: 200px;

}

.image-4 {
    background-image: url("../images/abstract-blurred-multi-colored-background-generative-ai.jpg");
    height: 200px;

}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }